body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header,
footer,
.section-one {
  background-color: #1F2937;
  color: white;
}

header {

  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}

ul {
  list-style-type: none;
  margin :0;
}
a {
  color: white;
  text-decoration: none;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-logo {
  font-size: 20px;
  color: #F9FAF8;
}

.header-links li {
  font-size: 12px;
  color: #E5E7EB;
}

/* Main section */


/* Section One */
.section-one {
  padding: 100px;
  font-size: 18px;
  font-weight: extra-bold;
  display: flex;
}

.left-section {
  margin-right: 20px; 
}

.section-one-title,
.description {
  margin-top: 0;
  margin-bottom: 16px;
}

.sign-up-button {
  background-color: #3882F6;
  border-radius: 5px;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 14px;
  padding: 8px 32px;

}



