body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header,
footer,
.section-one {
  background-color: #1F2937;
  color: white;
}

header {

  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}

ul {
  list-style-type: none;
  margin :0;
}
a {
  color: white;
  text-decoration: none;
}

p {
  font-weight: 100;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-logo {
  font-size: 20px;
  color: #F9FAF8;
}

.header-links li {
  font-size: 12px;
  color: #E5E7EB;
}

/* Main section */


/* Section One */
.section-one {
  padding: 100px;
  font-size: 18px;
  font-weight: extra-bold;
  display: flex;
}

.left-section {
  margin-right: 20px; 
}

.section-one-title,
.description {
  margin-top: 0;
  margin-bottom: 16px;
}

.sign-up-button {
  background-color: #3882F6;
  border-radius: 5px;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 14px;
  padding: 8px 32px;

}

/* main section Two */

.section-two {
  padding: 32px 150px;
}

.section-two-title {
  font-size: 22px;
  font-weight: extra-bold;
}

.section-two-title,
.card-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 0;
  margin-bottom: 32px;

}

.card {
  text-align: center;
}

.card img{
  height: 100px;
  width: 100px;
  border-radius: 10px;
  border: solid 2px #3882F6; 
}
.card p {
  font-size: 12px;
}

/* section Three */

.section-three {
  background-color: #E5E7EB;
  padding: 80px 200px ;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote {
  font-size: 24px;
  margin: 0 0 10px 0;
}
.quote-author {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  align-self: end;
}





